body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

/* quiz icon styling */
.imgicon{
  height: 110px;
}

/* stying for entire body */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

/* styling for main div which contains all the content */
.main{
  background-color: #e8e3e3;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
  height: 85vh;
  width: 60vw;
  max-width: 100%;
  border-radius: 15px;
  padding: 40px;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* dark mode and light mode  */
.dark{
  padding: 10px;
  background-color: #0e0511c0;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  font-family: cursive;
  font-size: 1rem;
  text-align: center;
}

.qn{
  text-align: center;
  font-family: 'Licorice', cursive;
}

.options{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:20px;
  align-items: center;
}

/* option styling */
.option{
  padding: 10px;
  background-color: burlywood;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  font-family: cursive;
  font-size: 1.1rem;
  width: 100%;
}

/* hover color for options   */
.option:hover {
  background-color: greenyellow;
}

.footer{
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:30px;
}

.qns{
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 1.3rem;
  font-family: 'Licorice', cursive;
}

.qnno{
  padding-top: 15px;
}

/* styling for question highlight button  */
.highlight{
  background-color: #F34E9D;
  padding: 10px;
  border-radius: 10px;
  color:white;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: 'Love Ya Like A Sister', cursive;
  margin-bottom: 40px;
}

.highlight:hover{
  background-color: purple;
}


/* Mobile Responsive */
@media screen and (min-width: 400px) and (max-width: 600px){

.imgicon {
  height: 60px;
}

.main{
  max-width: fit-content;
  height: 98vh;
}

.option{
  font-size: 0.9rem;
}

body{
  font-family: cursive;
}

}